godot.exe
/.godot/
/bin/
/addons/*/bin/

/examples/*/.godot/
/examples/*/bin/
/examples/*/addons/
/examples/*/*.exe

/template/.godot/
/template/bin/
/template/addons/
/template/*.exe

/template-addon/.godot/
/template-addon/addons/*/bin/
/template-addon/dist/

/test/.godot/
/test/bin
/test/*.exe
/test/tests
/test/addons/*/bin/
/test/addons/crystal_integration/

/docs/
/scratch/
*.obj
.*_tests_*
.*_test_results*
dist/
*.zip
*.log
*.dll
*.so
*.dylib
*.pdb
*.exp
*.lib
*.o

test_report.*
android_audit_report.txt
godot-src/
*.cr.uid

# Android keystore & release secrets
/android/
*.keystore
*.jks
*.credentials.json
*credentials*.json
